<%- include("partials/header.ejs") %>

<div class="container-fluid faq-container" id="faq-container">
    <div class="faq-title">
        <span class="faq-subtitle">Frequently Asked Questions</span>
        <h2 class="faq-heading">FAQ</h2>
    </div>

    <div class="faq-content">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6">
                    <div class="faq-image">
                        <img src="images/faq-bg.jpg" alt="FAQ" style="max-width: 100%;">
                    </div>
                </div>

                <div class="col-lg-6">
                    <ul class="faq-accordion">
                        <li>
                            <a class="accordion-item active">
                                What is No Food Waste?
                                <i class="icofont-plus"></i>
                                <i class="icofont-minus faq-minus"></i>
                            </a>
                            <p class="faq-answer" style="display: block;">No Food Waste is a food recovery and food
                                waste
                                management network
                                that helps
                                connect individuals and businesses with excess food to people in need. We
                                approach the issue of hunger with a sharing-economy model: the donation of
                                excess food enables a vital, yet often wasted, resource to be used to its full
                                capacity.</p>
                        </li>
                        <li>
                            <a class="accordion-item active">
                                Where and when it is started?
                                <i class="icofont-plus"></i>
                                <i class="icofont-minus faq-minus"></i>
                            </a>
                            <p class="faq-answer" style="display: none;">It just started with 3 students for making
                                a semester project.</p>
                        </li>
                        <li>
                            <a class="accordion-item">
                                How Nourish Together is different from others?
                                <i class="icofont-plus"></i>
                                <i class="icofont-minus faq-minus"></i>
                            </a>
                            <p class="faq-answer">Our use of technology makes No Food Waste unique in three ways: we
                                are
                                able to
                                provide our services on-demand, deliver data analytics AND we're scalable.
                                Coimbatore is our first step on a path to end global hunger</p>
                        </li>
                        <li>
                            <a class="accordion-item">
                                Do you have a question that wasn't answered here
                                <i class="icofont-plus"></i>
                                <i class="icofont-minus faq-minus"></i>
                            </a>
                            <p class="faq-answer">Shoot us an email at e22bcau0002@bennett.edu.in , Reach us in our
                                helpline
                                94060 35957
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>