<%- include("partials/header.ejs") %>
    <div class="container">
        <h1>Our Cause</h1>
        <div class="row">
            <div class="col-md-9 ">
                Welcome to Nourish Together, where we unite communities to combat food waste and alleviate hunger. Our
                cause
                is rooted in the pressing issues of surplus food and food insecurity. Every day, countless meals go
                uneaten
                while many individuals and families struggle to put food on their tables. Nourish Together strives to
                bridge
                this gap by orchestrating a seamless process: tracking excess food in canteens and delivering it to
                those in
                need. We believe that no one should go hungry, and every meal that is otherwise destined for waste can
                become a lifeline for someone in our community. By fostering collaboration, utilizing innovative
                technology,
                and focusing on factors like nutritional value and local preferences, we aim to make a meaningful impact
                on
                both reducing food waste and ensuring that everyone has access to nourishing meals. Join us in creating
                a
                world where the abundance of food becomes a source of unity and support for those who need it most.
                Together, we can nourish not just ourselves but our entire community.
            </div>
            <div class="col-md-3">
                <img src="images/our-cause.jpeg" alt="out-cause" class="our-cause-img">
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="container mt-5">
        <div class="row">

            <div class="align col-sm-6 col-lg-3">
                <div class="benefit-item" style="height: 280px;">
                    <i class="fa-solid fa-house"></i>
                    <h3>Get in touch</h3>
                    <p>Donors with surplus food/resources and Needy people register at our website.</p>
                </div>
            </div>

            <div class="align col-sm-6 col-lg-3">
                <div class="benefit-item two" style="height: 280px;">
                    <i class="fa-solid fa-hospital"></i>
                    <h3>Quality check</h3>
                    <p>Excess Food will be checked based on our Food Safety and Standard Guidelines</p>
                </div>
            </div>

            <div class="align col-sm-6 col-lg-3">
                <div class="benefit-item three" style="height: 280px;">
                    <i class="fa-solid fa-bowl-food"></i>
                    <h3>Locate</h3>
                    <p>We spot the nearest “Hunger Spot” which is the most underserved areas</p>
                </div>
            </div>

            <div class="align col-sm-6 col-lg-3">
                <div class="benefit-item four" style="height: 280px;">
                    <i class="fa-solid fa-truck"></i>
                    <h3>Deliver</h3>
                    <p>Excess food is distributed to needy people with love.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="spacer"></div>

    <div class="container interaction text-center">
        <div class="row">
            <form method="GET" action="/donate" class="col-md-4">
                <button type="submit" class="btn btn-primary btn-lg btn-custom">Donate</button>
            </form>
            <form method="GET" action="/volunteer" class="col-md-4">
                <button type="submit" class="btn btn-primary btn-lg btn-custom">Volunteer</button>
            </form>
            <form method="GET" action="/poor" class="col-md-4">
                <button type="submit" class="btn btn-danger btn-lg btn-custom">Get Help</button>
            </form>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="container-fluid faq-container" id="faq-container">
        <div class="faq-title">
            <span class="faq-subtitle">Frequently Asked Questions</span>
            <h2 class="faq-heading">FAQ</h2>
        </div>

        <div class="faq-content">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-6">
                        <div class="faq-image">
                            <img src="images/faq-bg.jpg" alt="FAQ" style="max-width: 100%;">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <ul class="faq-accordion">
                            <li>
                                <a class="accordion-item active">
                                    What is No Food Waste?
                                    <i class="icofont-plus"></i>
                                    <i class="icofont-minus faq-minus"></i>
                                </a>
                                <p class="faq-answer" style="display: block;">No Food Waste is a food recovery and food
                                    waste
                                    management network
                                    that helps
                                    connect individuals and businesses with excess food to people in need. We
                                    approach the issue of hunger with a sharing-economy model: the donation of
                                    excess food enables a vital, yet often wasted, resource to be used to its full
                                    capacity.</p>
                            </li>
                            <li>
                                <a class="accordion-item active">
                                    Where and when it is started?
                                    <i class="icofont-plus"></i>
                                    <i class="icofont-minus faq-minus"></i>
                                </a>
                                <p class="faq-answer" style="display: none;">It just started with 3 students for making
                                    a semester project.</p>
                            </li>
                            <li>
                                <a class="accordion-item">
                                    How Nourish Together is different from others?
                                    <i class="icofont-plus"></i>
                                    <i class="icofont-minus faq-minus"></i>
                                </a>
                                <p class="faq-answer">Our use of technology makes No Food Waste unique in three ways: we
                                    are
                                    able to
                                    provide our services on-demand, deliver data analytics AND we're scalable.
                                    Coimbatore is our first step on a path to end global hunger</p>
                            </li>
                            <li>
                                <a class="accordion-item">
                                    Do you have a question that wasn't answered here
                                    <i class="icofont-plus"></i>
                                    <i class="icofont-minus faq-minus"></i>
                                </a>
                                <p class="faq-answer">Shoot us an email at e22bcau0002@bennett.edu.in , Reach us in our
                                    helpline
                                    94060 35957
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <%- include("partials/footer.ejs") %>